.xyz {
    position: absolute;
}

.circle {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
}

.circle.circle-heart {
    background-color: black;
}

.circle.is-main {
    /* width: 100px;
    height: 100px; */
    /* transform: translate(-50%, -50%) scale(2); */
}

.circle img.image {
    width: 100%;
    height: 100%;
}